[flake8]
max-line-length = 88
import-order-style = google
application-import-names = tracktor
ignore = E731
exclude = .git, __pycache__, pyproject.toml, build/*
include = lib/* ui/*
plugins = flake8-import-order
per-file-ignores =
  __init__.py: F403, F401
